*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: bisque;
    padding: 1rem;
   
    
}
header{
    background-color: aquamarine;
    min-height: 10vh;
    border-radius: 20px;
}

.titulo-principal{
    display: block;
    font-weight: bold;
    text-align: center;
    font: 3em sans-serif;
    font-style: oblique ;
}
.logo{
    border: 2px solid burlywood;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.banner{
    width: 100%;
    height: 300px;
}
.caja{
    width: 100%;
    position: relative;
    margin: 0 auto;
    
}
nav {
    
    font-size: 20px;
    margin-left: 5px;
    display: flex;
    justify-content: end;
   
}
nav a{
    width: 20vh;
    height: 60px;
    border: 3px solid slategray;
    text-decoration: none;
    color: darkgreen;
    padding: 5px;
    border-radius: 1rem;
    text-align: center;
    
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
    

main{
    width: 940px;
    margin: 0 auto;
    background-color: bisque;
    min-height: 70vh;
} 
.subtitulo{
    width: 100%;
    text-align: center;
    border: 2px solid green;
    background-color: #BBBBBB;
    color: whitesmoke;
}
.titulo-lista{
    text-align: center;
    margin-top: 15px;
}


main li{
    width: 70%;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 5px;
    align-items: center;
    
}
.alfabeto{
    
        list-style-type: lower-alpha;
      
}
main table{
    background-color: burlywood;
    border: 3px solid black;
    width: 90%;

}

td,th{
    font-size: 20px;
    padding: 10px;
} 
tbody td {
    text-align: center;
    
}
    

footer{
    min-height: 5vh;
    margin-top: 10px;
    font-weight: bolder;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
}
fieldset{
    padding: 0.5rem;
    border: none;
}

iframe{
    border-radius: 1rem;
    margin: 1rem;
    border: 2px solid black ;
}
.mapa{
    
    display: flex;
    flex-wrap:wrap;
}
.mapa1,
.mapa2,
.mapa3,
.mapa4{
    height: 25rem;
    width: 25rem;
    object-fit: contain;
}

.formulario{
    margin-top: 30px;
}
.submit{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
.submit:hover {
    color: #C78C19;
    
    
}